<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-7">
      <div class="card p-5">
        <h5>Sign in</h5>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="form-group">
            <div class="row ml-1">
              <%= f.submit "Sign in", class: 'btn btn-success btn-sm mr-2' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <div class="card p-5">
        <small><%= render "devise/shared/links" %></small>
      </div>
    </div>
  </div>
</div>
