<div class="container">
  <div class="row">
    <div class="col-6">

      <p>
        <strong>Heading:</strong>
        <%= @category.heading %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= @category.body %>
      </p>

      <p>
        <strong>Display:</strong>
        <%= @category.display %>
      </p>

    </div>

    <div class="col-6">
      <%= link_to 'Edit', edit_category_path(@category), class: 'text-decoraion-none text-dark' %><br>
      <%= link_to 'Back', categories_path, class: 'text-decoraion-none text-dark' %>
    </div>
  </div>
</div>
