<%= form_with(model: @product, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select(:category_id, options_from_collection_for_select(Category.all, :id, :heading, (@product.category.id if @product.category.present?)), {}, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Product Image' %>
    <div class="custom-file">
      <%= form.label 'Choose file', class: 'custom-file-label' %>
      <%= form.file_field :image, type: 'file', class: 'custom-file-input' %>
      <%= form.hidden_field :image_cache %>
    </div>
  </div>

  <div class="form-group">
    <%= form.check_box :is_best_offer, class: 'mr-2' %>
    <%= form.label :is_best_offer %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
