<main role="main">

  <section class="jumbotron text-center bg-white">
    <div class="container">
      <h1 class="jumbotron-heading">Sneakers</h1>
      <p class="lead text-muted">Our brands</p>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col">

        <%= form_tag(search_path, method: 'get', remote: true) do %>
          <div class="input-group mt-5 mb-5">

            <div class="col-8" style="padding:0">
              <%= text_field_tag :search, '', class: 'form-control', placeholder: 'Search', onkeydown: 'clickSubmit();' %>
            </div>

            <div class="col-4" style="padding:0">
              <%= select_tag 'filter', options_for_select([
                'Select Filter',
                'Nike',
                'Adidas',
                'Puma',
                'Asics'
              ]), class: 'custom-select', onchange: 'clickSubmit()' %>
              
              <%= submit_tag 'Search', class: 'btn btn-dark', id: 'search_submit', style: 'display:none' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div id="products-container">
      <%= render 'public/products' %>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <% @products.each do |product| %>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">

              <%= product_image(product, 348, 225) %>

              <div class="card-text p-3">
                <div class="mt-2 mb-3">
                  <h5 class="text-muted"><strong><%= product.title %></strong></h5>
                </div>
                <%= product.description %>
              </div>

              <div class="d-flex justify-content-between align-items-center p-3">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                  <button type="button" class="btn btn-sm btn-outline-success">Buy now</button>
                </div>
                <p>$<%= product.price %></p>
              </div>

            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  function clickSubmit() {
    $('search_submit').trigger('click');
  }
</script>
